<div class="container-fluid">
    <div class="row">
     <div class="col-md-4">
        ジャンル検索
     </div>
     

 <div class="col-md-8 offset-md-1 pt-3">
  <p>ようこそ、ながのCAKEへ！<br>
   このサイトは、ケーキ販売のECサイトになります。<br>
   会員でない方も商品の閲覧はできますが、<br>
   購入には会員登録が必要になります。
  </p>
 </div>     
</div>



 <div class="col-md-12">
  <strong>新着商品</strong>

  </div>
 </div>
</div>