<div class='container mt-5'>
 <div class="row justify-content-center">
  <div class='col-md-6'>
   <h4 class="text-center my-4 mt-5", style="background-color: #eee; width:200px;"><b>ジャンル編集</b></h4>
    <%= form_with model: @genre, url: admin_genre_path do |f| %>
   <table class='table table-borderless'>
      <tbody>
        <th>ジャンル名</th>
        <td><%= f.text_field :name, class: 'form-control' %></td>
        <td><%= f.submit "変更を保存", class: "btn btn-sm btn-success" %></td>
      </tbody>
   </table>
   <% end %>
  </div>
 </div>
</div>