<table class='table'>
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th colspam="3"></th>
    </tr>
  </thead>
  <tbody>
    <% items.each do |item| %>
     <tr>
       <td><%= item.image_id %></td>
       <td><%= item.name %></td>
     </tr>
     <% end %>
  </tbody>
</table>